<h1 class="header-booking-form " >Confirm your Booking </h1>

<div class="container-form">
  <%= simple_form_for [@surfboard, @booking] do |f| %>
    <%= f.input :start_date, html5:true, as: :date%>
    <%= f.input :end_date, html5:true, as: :date %>
    <%= link_to 'Cancel', surfboard_path(@surfboard), class: 'btn btn-outline-secondary' %>
    <%= f.button :submit, 'Confirm Booking', class: 'btn btn-primary', id: 'button' %>
  <% end %>
</div>
