<h1>Surfboards in <%= @surfboard %></h1>

<p>User date</p>

<ul>
  <% @surfboards.each do |surfboard| %>
    <%= link_to surfboards_show_path do %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= surfboard.name %></h2>
        <p><strong><%= surfboard.category %></strong></p>
        <p><%= surfboard.price %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</ul>
