<h1>Share your passion for surfing - borrow your surfboard!</h1>
<%= simple_form_for @surfboard do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: ["shortboard", "longboard", "malibu", "fish", "sup", "gun"] %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= form.input :image, label: "Photo of your board" %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
