<div class= "container">
  <div class="form-container">
    <div class="form-headline">
  <h1>Add surfboard</h1>
    </div>
    <div class="row justify-content-center">
      <%= simple_form_for @surfboard do |f| %>
        <%= f.input :name, input_html: { autocomplete: 'off' }%>
        <%= f.input :category, collection: ["Shortboard", "Longboard", "Malibu", "Fish", "SUP", "Gun"] %>
        <%= f.input :price %>
        <%= f.input :location, input_html: { autocomplete: 'off' } %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= link_to 'Cancel', root_path, class: 'btn btn-outline-secondary' %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
