<% if notice.present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice.html_safe %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="header-show">
    <div class="inline">
      <p><%= link_to "<",:back%></p>
      <p></span>Have a closer look at</p>
    </div>
  <mark id="label-white"><h1><%= @surfboard.name %></h1></mark>
</div>

<div class="container">
  <% if @surfboard.photo.attached? %>
    <%= cl_image_tag @surfboard.photo.key, crop: :fill %>
  <% else %>
    <img src="https://images.unsplash.com/photo-1472858174223-94efa51c7ae2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"/>
  <% end %>
</div>

<p class="category" >Category: <strong><%= @surfboard.category.capitalize %></strong></p>

<div class="show-main">
  <h3>Specs & Details:</h3>
  <p> <%= @surfboard.description %> </p>
</div>

<div class="button" >
  <%= link_to "Book now", new_surfboard_booking_path(@surfboard)%>
</div>




